#
# MANIFEST.in
#
# Manifest template for peigen source distribution

include MANIFEST.in
include setup.py
include README.md
include LICENSE

# sources
recursive-include src **
recursive-include eigen **